/* https://fonts.googleapis.com/css?family=Raleway%3A100%2C200%2C300%2C400%2C500%2C600%2C700%2C800%2C900&#038;ver=5.7.1 */
@font-face{font-display:swap;
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 100;src:url(https://fonts.gstatic.com/s/raleway/v19/1Ptxg8zYS_SKggPN4iEgvnHyvveLxVvao7CIPrc.woff) format('woff');
}
@font-face{font-display:swap;
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 200;src:url(https://fonts.gstatic.com/s/raleway/v19/1Ptxg8zYS_SKggPN4iEgvnHyvveLxVtaorCIPrc.woff) format('woff');
}
@font-face{font-display:swap;
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 300;src:url(https://fonts.gstatic.com/s/raleway/v19/1Ptxg8zYS_SKggPN4iEgvnHyvveLxVuEorCIPrc.woff) format('woff');
}
@font-face{font-display:swap;
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 400;src:url(https://fonts.gstatic.com/s/raleway/v19/1Ptxg8zYS_SKggPN4iEgvnHyvveLxVvaorCIPrc.woff) format('woff');
}
@font-face{font-display:swap;
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 500;src:url(https://fonts.gstatic.com/s/raleway/v19/1Ptxg8zYS_SKggPN4iEgvnHyvveLxVvoorCIPrc.woff) format('woff');
}
@font-face{font-display:swap;
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 600;src:url(https://fonts.gstatic.com/s/raleway/v19/1Ptxg8zYS_SKggPN4iEgvnHyvveLxVsEpbCIPrc.woff) format('woff');
}
@font-face{font-display:swap;
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 700;src:url(https://fonts.gstatic.com/s/raleway/v19/1Ptxg8zYS_SKggPN4iEgvnHyvveLxVs9pbCIPrc.woff) format('woff');
}
@font-face{font-display:swap;
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 800;src:url(https://fonts.gstatic.com/s/raleway/v19/1Ptxg8zYS_SKggPN4iEgvnHyvveLxVtapbCIPrc.woff) format('woff');
}
@font-face{font-display:swap;
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 900;src:url(https://fonts.gstatic.com/s/raleway/v19/1Ptxg8zYS_SKggPN4iEgvnHyvveLxVtzpbCIPrc.woff) format('woff');
}