/* https://fonts.googleapis.com/css?family=Karla%3A300%2C400%2C500%2C600%2C700%7CPoppins%3A300%2C400%2C500%2C600%2C700&#038;subset=latin */
@font-face{font-display:swap;
  font-family: 'Karla';
  font-style: normal;
  font-weight: 300;src:url(https://fonts.gstatic.com/s/karla/v15/qkBIXvYC6trAT55ZBi1ueQVIjQTDppqaE0lM.woff) format('woff');
}
@font-face{font-display:swap;
  font-family: 'Karla';
  font-style: normal;
  font-weight: 400;src:url(https://fonts.gstatic.com/s/karla/v15/qkBIXvYC6trAT55ZBi1ueQVIjQTD-JqaE0lM.woff) format('woff');
}
@font-face{font-display:swap;
  font-family: 'Karla';
  font-style: normal;
  font-weight: 500;src:url(https://fonts.gstatic.com/s/karla/v15/qkBIXvYC6trAT55ZBi1ueQVIjQTDypqaE0lM.woff) format('woff');
}
@font-face{font-display:swap;
  font-family: 'Karla';
  font-style: normal;
  font-weight: 600;src:url(https://fonts.gstatic.com/s/karla/v15/qkBIXvYC6trAT55ZBi1ueQVIjQTDJp2aE0lM.woff) format('woff');
}
@font-face{font-display:swap;
  font-family: 'Karla';
  font-style: normal;
  font-weight: 700;src:url(https://fonts.gstatic.com/s/karla/v15/qkBIXvYC6trAT55ZBi1ueQVIjQTDH52aE0lM.woff) format('woff');
}
@font-face{font-display:swap;
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 300;src:url(https://fonts.gstatic.com/s/poppins/v15/pxiByp8kv8JHgFVrLDz8Z1xlEw.woff) format('woff');
}
@font-face{font-display:swap;
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;src:url(https://fonts.gstatic.com/s/poppins/v15/pxiEyp8kv8JHgFVrJJfedA.woff) format('woff');
}
@font-face{font-display:swap;
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 500;src:url(https://fonts.gstatic.com/s/poppins/v15/pxiByp8kv8JHgFVrLGT9Z1xlEw.woff) format('woff');
}
@font-face{font-display:swap;
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 600;src:url(https://fonts.gstatic.com/s/poppins/v15/pxiByp8kv8JHgFVrLEj6Z1xlEw.woff) format('woff');
}
@font-face{font-display:swap;
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 700;src:url(https://fonts.gstatic.com/s/poppins/v15/pxiByp8kv8JHgFVrLCz7Z1xlEw.woff) format('woff');
}